//
//  Development.xcconfig
//  Deneysiz
//
//  Created by Ogulcan Keskin on 11.06.2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_BUNDLE_IDENTIFIER = com.adesso.Deneysiz.development
BASE_URL = api.development.com
APP_VERSION = 1.0
APP_BUILD = 1

